@charset "UTF-8";

*{
    margin: 0;
}

body{
    background: black url(imagens/fundo-madeira.jpg) center center no-repeat fixed;
    background-size: cover;
}
.celular{
    width: 307px;
    height: 620px;
    margin: auto;
    background-image: url(imagens/frame-iphone.png);
    position: absolute;
    /*Centralizando a imagem*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#frame{
    background-image: url(imagens/tela-home.jpg);
    position: relative;
    height: 76%;
    width: 87%;
    transform: translate(8%, 17%);
    background-size: cover;
}
.redes{
    width: 50px;
    height: 200px;
    float: right;
    margin-right: 5px;
}
img{
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.redes > picture img:hover{
    transition-duration: 0.1s;
    height: 55px;
}
