@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body {
    background-color: #f0edee;
    font-family: sans-serif;

}

h1 {
    color: #2c666e;
}
h1#principal {
    text-align: center;
    background: white;
}
h2 {
    color: #90ddf0;
}

.basico{
    color: green;
    font-style:  italic;
}

.intermediario{
    color: rgb(168, 168, 0);
}

.avancado{
    color: red;
}