@charset "UTF-8";
body{
    background-image: linear-gradient(to right, #faff81, #ffc53a);
}
main{
    background-color: white;
    border-radius: 20px;
    margin: auto;
    box-shadow: 5px 5px 5px #b26700;
    width: 900px;
    padding: 10px;
}
h1,h2{
    color: #161032;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}