@charset "UTF-8"; 

/*Para determinar variaveis para facil acesso de dados*/
:root{
 --cor1:rgb(15, 233, 131);
 --cor2: rgb(2, 87, 2);
 --cor3: rgb(127, 255, 191);
 
 --fonte-destaque: 'Bebas Neue',  cursive;
 --fonte-android: 'Android', cursive;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rye&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
/*Retirar a configuração padrão do site para margem */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(127, 255, 191);
    
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
}

header{
    background-image: linear-gradient(to bottom, rgb(15, 233, 131), rgb(2, 87, 2));
    padding: 5px;
    color: white;
    text-align: center;
}
header > h1{
    font-family: var(--fonte-destaque);
    margin: 30px 0px;
}
header p{
    width: 300px;
    text-align: center;
    margin-inline: auto;
    padding-bottom: 15px;
}

main{
    background-color: white;
    padding: 10px;
    margin: auto;
    /*Responsividade do site*/
    max-width: 1200px;
    
}
main h1{
    font-family: var(--fonte-android);
    color: var(--cor2);
}
main h2{
    font-family: var(--fonte-android);
}
nav{
    margin: 0px 10px;
    text-align: left;
    box-shadow: px 5px 5px rgba(0, 0, 0, 0.26);
    
}
.pequeno{
    max-width: 360px;
    display: block;
    margin: auto;
}
nav > a{
    margin-right: 5px;
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav > a:hover{
    background-color: rgb(2, 66, 2);
    color: var(--cor3);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
    transition-duration: 0.3s;
}

main > h1, h2{
    color: rgb(2, 87, 2);
}

#artigo > h1, h2 ,h3, p{
    margin-bottom: 5px;
}

#artigo > a{
    text-decoration: none;
}

h2{
    background-image: linear-gradient(to right, rgba(6, 187, 6, 0.185), rgba(15, 233, 131, 0.021));
    padding: 2px;
}
main > p{
    text-align: justify;
}
#extra{
    background-color: rgb(191, 241, 220);
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
}
#extra > h3{
    background-color: rgb(28, 105, 73);
    color: white;
    font-size: 1em;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}
#extra > p { 
    margin: 5px 10px;
}
aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer>p{
    text-align: center;
    background-color: rgb(2, 87, 2);
    color: white;
}
img{
    /*Responsividade das imagens*/
    width: 100%;
}
b{
    color: rgb(2, 87, 2);
    font-size: bolder;
}

a{
    color: rgb(4, 104, 4) ;
    text-decoration: none;
    font-weight: bolder;
    padding: 2px;
}
/*
    Com emote
*/
main > section > p > a::after{
    content: '\1F517';
}
main > section > p > a:hover{
    text-decoration: underline;
}
#video{
    background-color: var(--cor1);
    margin: 0px -10px ;
    padding: 20px;

    position: relative;
    padding-bottom: 50%;
}

#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer a{
    color: var(--cor3);

}