@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: lightblue;
    padding: 10px;

    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

header h1{
    flex-basis: 200px;
    text-align: center;
}

header nav{
    flex-flow: row wrap;
    display: flex;
}

header nav a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    margin: 3px;

}

header nav a:hover{
    background-color: rgb(83, 83, 83);
    transition: .3s;
}

main{ 
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
main section{
    width: 500px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;

    flex: none ;
}

ul{
    list-style-position: inside;
}