@charset "UTF-8";
body{
    background-color: #bcaf9c;
    margin-left: 50px;
    margin-right: 50px;
}
h1,h2{
    color: #14281D;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    text-align: justify;
    margin: 5px 50px;
}
h1{
    background-color: #364156;
    width: 300px;
    text-align: center;
    margin: 50px;
    padding: 10px 5px;
    font-weight: bolder;
}
.conteudos{
    margin: auto;
    width: 650px;
    text-align: center;
    padding: 20px;
}
.conteudos:hover{
    background-color: #696258;
}
.conteudo{
    margin: 5px;
}
li{
    display: inline-block;
}
ol{
    margin: auto;
    text-align: center;
}