@charset "UTF-8";

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    text-align: justify;
    margin: 5px 50px;
}
h1{
    width: 300px;
    text-align: center;
    margin: 50px;
    padding: 10px 5px;
    font-weight: bolder;
}
h1,h2{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 10px;
    background-color: rgb(83, 83, 83);
}
header{
    background-color: white;
}
#cabecalho{
    display: flex;
    margin: auto;
}
nav{
    text-align: right;
    font-weight: bolder;
    background-color: black;
    padding: 3px;
}
nav > a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
section{
    background-color: white;
    padding: 5px;
    margin: 4px;
    border-radius: 7px;
}
.conteudos{
    margin: auto;
    width: 650px;
    text-align: center;
    padding: 20px;
}
.conteudos  > a > img:hover{
    background-color: gray ;
    margin-bottom: 5px;
}
.conteudo{
    margin: 5px;
}
footer{
    background-color: black;
    text-align: right;
}
footer > p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: center;
}
