@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #EEC584, #C8AB83);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #665058;
}
h1{
    color: #7F636E;
    text-align: center;
    text-shadow: 1px 1px 0px #3b2e34;
}
h2{
    color: #55868c;
}